CSV-Datei wird aufgemacht,die Daten werden weiter als DataFrame von Pandas betrachtet

In [1]:
import numpy as np
import pandas as pd

db = pd.read_csv("train_ver2.csv", sep=",")

/Users/dariagolchenko/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Typumwandlung in DateType

In [2]:
print("fecha_dato -> " + str(db["fecha_dato"].isnull().sum()))
print("fecha_alta -> " + str(db["fecha_alta"].isnull().sum()))

fecha_dato -> 0
fecha_alta -> 27734

In [3]:
db["fecha_dato"]=pd.to_datetime(db["fecha_dato"], format = "%Y-%m-%d")
print(db["fecha_dato"].dtypes)

datetime64[ns]

Es gibt höhe Wahrscheinlichkeit, dass die Saisonaleschwankungen den höchen Einfluss auf die Nachfrage haben

In [4]:
db['month_of_transaction'] = db['fecha_dato'].dt.month
db.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,month_of_transaction
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0.0,0.0,0,1

Typumwandlung in geeigneten Typen; Erzeugeng der neuen Spalten mir kodierten Werten (es ist nötig für die richtige Berechnung der Korrelation)

In [5]:
db.isnull().any()

fecha_dato               False
ncodpers                 False
ind_empleado              True
pais_residencia           True
sexo                      True
age                      False
fecha_alta                True
ind_nuevo                 True
antiguedad               False
indrel                    True
ult_fec_cli_1t            True
indrel_1mes               True
tiprel_1mes               True
indresi                   True
indext                    True
conyuemp                  True
canal_entrada             True
indfall                   True
tipodom                   True
cod_prov                  True
nomprov                   True
ind_actividad_cliente     True
renta                     True
segmento                  True
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1           True
ind_nom_pens_ult1         True
ind_recibo_ult1          False
month_of_transaction     False
dtype: bool

In [6]:
print("age -> " + str(db["age"].isnull().sum()))
print("fecha_alta -> " + str(db["fecha_alta"].isnull().sum()))
print("ind_nuevo -> " + str(db["ind_nuevo"].isnull().sum()))
print("indrel -> " + str(db["indrel"].isnull().sum()))
print("conyuemp -> " + str(db["conyuemp"].isnull().sum()))
print("tipodom -> " + str(db["tipodom"].isnull().sum()))
print("ult_fec_cli_1t -> " + str(db["ult_fec_cli_1t"].isnull().sum()))
print("ind_actividad_cliente -> " + str(db["ind_actividad_cliente"].isnull().sum()))
print("renta -> " + str(db["renta"].isnull().sum()))
print("ind_nomina_ult1 -> " + str(db["ind_nomina_ult1"].isnull().sum()))
print("ind_nom_pens_ult1 -> " + str(db["ind_nom_pens_ult1"].isnull().sum()))
print("nomprov -> " + str(db["nomprov"].isnull().sum()))
print("count of rows -> " + str(db.shape))

age -> 0
fecha_alta -> 27734
ind_nuevo -> 27734
indrel -> 27734
conyuemp -> 13645501
tipodom -> 27735
ult_fec_cli_1t -> 13622516
ind_actividad_cliente -> 27734
renta -> 2794375
ind_nomina_ult1 -> 16063
ind_nom_pens_ult1 -> 16063
nomprov -> 93591
count of rows -> (13647309, 49)

In [7]:
print(str(db.loc[db.age.isnull(), "ncodpers"].unique()))
print(str(db.loc[db.fecha_alta.isnull(), "ncodpers"].unique()))
print(str(db.loc[db.ind_nuevo.isnull(), "ncodpers"].unique()))
print(str(db.loc[db.indrel.isnull(), "ncodpers"].unique()))
print(str(db.loc[db.tipodom.isnull(), "ncodpers"].unique()))
print(str(db.loc[db.ind_actividad_cliente.isnull(), "ncodpers"].unique()))
print(str(db.loc[db.age.isnull(), "ncodpers"].unique()))

[]
[1050741 1051017 1051064 ... 1125581 1401509  429713]
[1050741 1051017 1051064 ... 1125581 1401509  429713]
[1050741 1051017 1051064 ... 1125581 1401509  429713]
[1050741 1051017 1051064 ... 1125581 1401509  429713]
[1050741 1051017 1051064 ... 1125581 1401509  429713]
[]

In [8]:
print(str(db.loc[db.age.isnull(), "fecha_dato"].unique()))
print(str(db.loc[db.fecha_alta.isnull(), "fecha_dato"].unique()))
print(str(db.loc[db.ind_nuevo.isnull(), "fecha_dato"].unique()))
print(str(db.loc[db.indrel.isnull(), "fecha_dato"].unique()))
print(str(db.loc[db.tipodom.isnull(), "fecha_dato"].unique()))
print(str(db.loc[db.ind_actividad_cliente.isnull(), "fecha_dato"].unique()))
print(str(db.loc[db.age.isnull(), "fecha_dato"].unique()))

[]
['2015-01-28T00:00:00.000000000' '2015-02-28T00:00:00.000000000'
 '2015-03-28T00:00:00.000000000' '2015-04-28T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-06-28T00:00:00.000000000']
['2015-01-28T00:00:00.000000000' '2015-02-28T00:00:00.000000000'
 '2015-03-28T00:00:00.000000000' '2015-04-28T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-06-28T00:00:00.000000000']
['2015-01-28T00:00:00.000000000' '2015-02-28T00:00:00.000000000'
 '2015-03-28T00:00:00.000000000' '2015-04-28T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-06-28T00:00:00.000000000']
['2015-01-28T00:00:00.000000000' '2015-02-28T00:00:00.000000000'
 '2015-03-28T00:00:00.000000000' '2015-04-28T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-06-28T00:00:00.000000000'
 '2015-11-28T00:00:00.000000000']
['2015-01-28T00:00:00.000000000' '2015-02-28T00:00:00.000000000'
 '2015-03-28T00:00:00.000000000' '2015-04-28T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-06-28T00:00:00.000000000']
[]

In [5]:
db = db[db.fecha_alta.notnull()]

In [10]:
print("age -> " + str(db["age"].isnull().sum()))
print("fecha_alta -> " + str(db["fecha_alta"].isnull().sum()))
print("ind_nuevo -> " + str(db["ind_nuevo"].isnull().sum()))
print("indrel -> " + str(db["indrel"].isnull().sum()))
print("conyuemp -> " + str(db["conyuemp"].isnull().sum()))
print("tipodom -> " + str(db["tipodom"].isnull().sum()))
print("ult_fec_cli_1t -> " + str(db["ult_fec_cli_1t"].isnull().sum()))
print("ind_actividad_cliente -> " + str(db["ind_actividad_cliente"].isnull().sum()))
print("renta -> " + str(db["renta"].isnull().sum()))
print("ind_nomina_ult1 -> " + str(db["ind_nomina_ult1"].isnull().sum()))
print("ind_nom_pens_ult1 -> " + str(db["ind_nom_pens_ult1"].isnull().sum()))
print("nomprov -> " + str(db["nomprov"].isnull().sum()))
print("canal_entrada -> " + str(db["canal_entrada"].isnull().sum()))
print("count of rows -> " + str(db.shape))

age -> 0
fecha_alta -> 0
ind_nuevo -> 0
indrel -> 0
conyuemp -> 13617767
tipodom -> 1
ult_fec_cli_1t -> 13594782
ind_actividad_cliente -> 0
renta -> 2766641
ind_nomina_ult1 -> 217
ind_nom_pens_ult1 -> 217
nomprov -> 65857
canal_entrada -> 158392
count of rows -> (13619575, 49)

In [6]:
db = db[db.ind_nomina_ult1.notnull()]

In [12]:
print("conyuemp -> " + str(db["conyuemp"].isnull().sum()))
print("tipodom -> " + str(db["tipodom"].isnull().sum()))
print("ult_fec_cli_1t -> " + str(db["ult_fec_cli_1t"].isnull().sum()))
print("renta -> " + str(db["renta"].isnull().sum()))
print("nomprov -> " + str(db["nomprov"].isnull().sum()))
print("count of rows -> " + str(db.shape))

conyuemp -> 13617552
tipodom -> 1
ult_fec_cli_1t -> 13594566
renta -> 2766601
nomprov -> 65857
count of rows -> (13619358, 49)

In [7]:
db = db[db.nomprov.notnull()]

In [14]:
print("conyuemp -> " + str(db["conyuemp"].isnull().sum()))
print("tipodom -> " + str(db["tipodom"].isnull().sum()))
print("ult_fec_cli_1t -> " + str(db["ult_fec_cli_1t"].isnull().sum()))
print("renta -> " + str(db["renta"].isnull().sum()))
print("nomprov -> " + str(db["nomprov"].isnull().sum()))
print("canal_entrada -> " + str(db["canal_entrada"].isnull().sum()))
print("count of rows -> " + str(db.shape))

conyuemp -> 13551695
tipodom -> 0
ult_fec_cli_1t -> 13528746
renta -> 2700952
nomprov -> 0
canal_entrada -> 158090
count of rows -> (13553501, 49)

Gucken, welche Verteilung die Werte in der Spalte "age" haben

Korrelationskoeffizient (0,3 bis 0,5 ist schon eine mittlere Korrelation, > als 0,5 - schon starke Korrelation) bei:
- ind_cno_fin_ult1 und ind_reca_fin_ult1 ist 0.319811
- ind_actividad_cliente und ind_reca_fin_ult1 ist 0.222989
- ind_actividad_cliente und ind_tjcr_fin_ult1 ist 0.232320
- ind_recibo_ult1 und ind_reca_fin_ult1 ist 0.343852
- ind_recibo_ult1 und ind_tjcr_fin_ult1 ist 0.374660
- ind_cno_fin_ult1 und ind_nomina_ult1 ist 0.757957
- ind_nom_pens_ult1 und ind_nomina_ult1 ist 0.957215
- ind_recibo_ult1 und ind_nomina_ult1 ist 0.471138
- ind_actividad_cliente und ind_recibo_ult1 ist 0.412218
- ind_cno_fin_ult1 und ind_nom_pens_ult1 ist 0.790128
- nomprov_cat und cod_prov ist 0.855563

In [15]:
print(db.corr())

                       ncodpers  ind_nuevo    indrel  tipodom  cod_prov  \
ncodpers               1.000000   0.347391  0.028579      NaN -0.040823
ind_nuevo              0.347391   1.000000  0.063041      NaN -0.004380
indrel                 0.028579   0.063041  1.000000      NaN -0.000413
tipodom                     NaN        NaN       NaN      NaN       NaN
cod_prov              -0.040823  -0.004380 -0.000413      NaN  1.000000
ind_actividad_cliente -0.140125  -0.004028 -0.033039      NaN  0.028168
renta                 -0.084208  -0.014133  0.000022      NaN -0.015241
ind_ahor_fin_ult1     -0.013120  -0.002560 -0.000434      NaN  0.001366
ind_aval_fin_ult1     -0.005492  -0.000986 -0.000201      NaN  0.000525
ind_cco_fin_ult1       0.162532   0.003123 -0.046986      NaN -0.005365
ind_cder_fin_ult1     -0.018850  -0.004608 -0.000850      NaN  0.000881
ind_cno_fin_ult1      -0.131195  -0.047304 -0.011587      NaN  0.012171
ind_ctju_fin_ult1     -0.016831  -0.011339 -0.002574      NaN  0.009279
ind_ctma_fin_ult1      0.023191   0.041253 -0.000968      NaN  0.007045
ind_ctop_fin_ult1     -0.447637  -0.096942 -0.014258      NaN  0.041672
ind_ctpp_fin_ult1     -0.157105  -0.053722 -0.008037      NaN  0.014832
ind_deco_fin_ult1      0.019995   0.087906  0.006677      NaN  0.001307
ind_deme_fin_ult1     -0.035363  -0.010024 -0.001141      NaN  0.004255
ind_dela_fin_ult1     -0.136244  -0.039667 -0.008062      NaN  0.016327
ind_ecue_fin_ult1     -0.147382  -0.059928 -0.009867      NaN  0.019169
ind_fond_fin_ult1     -0.144624  -0.032742 -0.005298      NaN  0.007011
ind_hip_fin_ult1      -0.097298  -0.019386 -0.003160      NaN -0.003402
ind_plan_fin_ult1     -0.119817  -0.023315 -0.004025      NaN  0.003345
ind_pres_fin_ult1     -0.035889  -0.012631 -0.001885      NaN -0.008385
ind_reca_fin_ult1     -0.189531  -0.055235 -0.006043      NaN  0.007101
ind_tjcr_fin_ult1     -0.189189  -0.051971 -0.008537      NaN  0.008993
ind_valo_fin_ult1     -0.174408  -0.038138 -0.006352      NaN  0.013285
ind_viv_fin_ult1      -0.074526  -0.015679 -0.002665      NaN  0.004053
ind_nomina_ult1       -0.120375  -0.037150 -0.009296      NaN  0.010348
ind_nom_pens_ult1     -0.132237  -0.039654 -0.009693      NaN  0.011308
ind_recibo_ult1       -0.144545  -0.053388 -0.012026      NaN  0.014928
month_of_transaction   0.012387   0.076927  0.007427      NaN -0.002032

                       ind_actividad_cliente     renta  ind_ahor_fin_ult1  \
ncodpers                           -0.140125 -0.084208          -0.013120
ind_nuevo                          -0.004028 -0.014133          -0.002560
indrel                             -0.033039  0.000022          -0.000434
tipodom                                  NaN       NaN                NaN
cod_prov                            0.028168 -0.015241           0.001366
ind_actividad_cliente               1.000000  0.027280           0.005598
renta                               0.027280  1.000000           0.002455
ind_ahor_fin_ult1                   0.005598  0.002455           1.000000
ind_aval_fin_ult1                   0.005116  0.001673          -0.000048
ind_cco_fin_ult1                    0.168954 -0.025450          -0.001096
ind_cder_fin_ult1                   0.017923  0.001885          -0.000202
ind_cno_fin_ult1                    0.316404  0.015732           0.001131
ind_ctju_fin_ult1                   0.071732  0.009133          -0.000995
ind_ctma_fin_ult1                   0.066332  0.002253          -0.000710
ind_ctop_fin_ult1                   0.168742  0.040636           0.009668
ind_ctpp_fin_ult1                   0.156535  0.023218           0.004187
ind_deco_fin_ult1                   0.036986 -0.000018          -0.000425
ind_deme_fin_ult1                   0.043976  0.001998          -0.000412
ind_dela_fin_ult1                   0.229170  0.019240           0.002037
ind_ecue_fin_ult1                   0.284875  0.024403           0.001562
ind_fond_fin_ult1                   0.147415  0.024449           0.001365
ind_hip_fin_ult1                    0.083540  0.003927           0.002446
ind_plan_fin_ult1                   0.103714  0.020738           0.005658
ind_pres_fin_ult1                   0.036525 -0.005068          -0.000512
ind_reca_fin_ult1                   0.223417  0.036955           0.007708
ind_tjcr_fin_ult1                   0.232693  0.027494           0.001441
ind_valo_fin_ult1                   0.172742  0.029790           0.006302
ind_viv_fin_ult1                    0.039913  0.010240           0.014361
ind_nomina_ult1                     0.261360  0.012820           0.000231
ind_nom_pens_ult1                   0.272928  0.015073           0.000081
ind_recibo_ult1                     0.413127  0.019040           0.003212
month_of_transaction               -0.039931 -0.000159          -0.000711

                       ind_aval_fin_ult1  ind_cco_fin_ult1  \
ncodpers                       -0.005492          0.162532
ind_nuevo                      -0.000986          0.003123
indrel                         -0.000201         -0.046986
tipodom                              NaN               NaN
cod_prov                        0.000525         -0.005365
ind_actividad_cliente           0.005116          0.168954
renta                           0.001673         -0.025450
ind_ahor_fin_ult1              -0.000048         -0.001096
ind_aval_fin_ult1               1.000000         -0.002020
ind_cco_fin_ult1               -0.002020          1.000000
ind_cder_fin_ult1              -0.000093          0.003289
ind_cno_fin_ult1                0.010674         -0.346778
ind_ctju_fin_ult1              -0.000460         -0.135261
ind_ctma_fin_ult1               0.001774         -0.024687
ind_ctop_fin_ult1               0.001994          0.002708
ind_ctpp_fin_ult1               0.009019         -0.051483
ind_deco_fin_ult1              -0.000197         -0.002790
ind_deme_fin_ult1               0.000584          0.012169
ind_dela_fin_ult1               0.001712          0.009775
ind_ecue_fin_ult1               0.012373         -0.077737
ind_fond_fin_ult1               0.004143          0.009654
ind_hip_fin_ult1               -0.000362         -0.047012
ind_plan_fin_ult1              -0.000452         -0.031072
ind_pres_fin_ult1              -0.000237         -0.026881
ind_reca_fin_ult1               0.010644         -0.088467
ind_tjcr_fin_ult1               0.010260         -0.096847
ind_valo_fin_ult1               0.012010          0.012970
ind_viv_fin_ult1               -0.000293         -0.005595
ind_nomina_ult1                 0.012098         -0.258136
ind_nom_pens_ult1               0.011545         -0.271283
ind_recibo_ult1                 0.011581         -0.070333
month_of_transaction           -0.000271         -0.060813

                               ...           ind_plan_fin_ult1  \
ncodpers                       ...                   -0.119817
ind_nuevo                      ...                   -0.023315
indrel                         ...                   -0.004025
tipodom                        ...                         NaN
cod_prov                       ...                    0.003345
ind_actividad_cliente          ...                    0.103714
renta                          ...                    0.020738
ind_ahor_fin_ult1              ...                    0.005658
ind_aval_fin_ult1              ...                   -0.000452
ind_cco_fin_ult1               ...                   -0.031072
ind_cder_fin_ult1              ...                    0.013079
ind_cno_fin_ult1               ...                    0.103229
ind_ctju_fin_ult1              ...                   -0.009434
ind_ctma_fin_ult1              ...                   -0.002598
ind_ctop_fin_ult1              ...                    0.049206
ind_ctpp_fin_ult1              ...                    0.062823
ind_deco_fin_ult1              ...                   -0.001923
ind_deme_fin_ult1              ...                    0.011340
ind_dela_fin_ult1              ...                    0.060965
ind_ecue_fin_ult1              ...                    0.090918
ind_fond_fin_ult1              ...                    0.126769
ind_hip_fin_ult1               ...                    0.041385
ind_plan_fin_ult1              ...                    1.000000
ind_pres_fin_ult1              ...                    0.006100
ind_reca_fin_ult1              ...                    0.083628
ind_tjcr_fin_ult1              ...                    0.111003
ind_valo_fin_ult1              ...                    0.116617
ind_viv_fin_ult1               ...                    0.022171
ind_nomina_ult1                ...                    0.099428
ind_nom_pens_ult1              ...                    0.100104
ind_recibo_ult1                ...                    0.104784
month_of_transaction           ...                   -0.005811

                       ind_pres_fin_ult1  ind_reca_fin_ult1  \
ncodpers                       -0.035889          -0.189531
ind_nuevo                      -0.012631          -0.055235
indrel                         -0.001885          -0.006043
tipodom                              NaN                NaN
cod_prov                       -0.008385           0.007101
ind_actividad_cliente           0.036525           0.223417
renta                          -0.005068           0.036955
ind_ahor_fin_ult1              -0.000512           0.007708
ind_aval_fin_ult1              -0.000237           0.010644
ind_cco_fin_ult1               -0.026881          -0.088467
ind_cder_fin_ult1               0.001503           0.011412
ind_cno_fin_ult1                0.003098           0.322991
ind_ctju_fin_ult1              -0.004949          -0.022340
ind_ctma_fin_ult1              -0.004066           0.013699
ind_ctop_fin_ult1              -0.008500           0.063086
ind_ctpp_fin_ult1              -0.001605           0.170174
ind_deco_fin_ult1              -0.002115          -0.001234
ind_deme_fin_ult1              -0.001436           0.011963
ind_dela_fin_ult1              -0.009346           0.064791
ind_ecue_fin_ult1              -0.007672           0.202344
ind_fond_fin_ult1               0.001880           0.069941
ind_hip_fin_ult1                0.011053           0.090405
ind_plan_fin_ult1               0.006100           0.083628
ind_pres_fin_ult1               1.000000           0.030526
ind_reca_fin_ult1               0.030526           1.000000
ind_tjcr_fin_ult1               0.012337           0.271887
ind_valo_fin_ult1               0.008834           0.114666
ind_viv_fin_ult1               -0.000266           0.053622
ind_nomina_ult1                 0.005214           0.278239
ind_nom_pens_ult1               0.005526           0.295058
ind_recibo_ult1                 0.004693           0.347317
month_of_transaction           -0.003134          -0.008486

                       ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  \
ncodpers                       -0.189189          -0.174408         -0.074526
ind_nuevo                      -0.051971          -0.038138         -0.015679
indrel                         -0.008537          -0.006352         -0.002665
tipodom                              NaN                NaN               NaN
cod_prov                        0.008993           0.013285          0.004053
ind_actividad_cliente           0.232693           0.172742          0.039913
renta                           0.027494           0.029790          0.010240
ind_ahor_fin_ult1               0.001441           0.006302          0.014361
ind_aval_fin_ult1               0.010260           0.012010         -0.000293
ind_cco_fin_ult1               -0.096847           0.012970         -0.005595
ind_cder_fin_ult1               0.009445           0.033238          0.004803
ind_cno_fin_ult1                0.387167           0.123292          0.030294
ind_ctju_fin_ult1              -0.021160          -0.015841         -0.006109
ind_ctma_fin_ult1               0.020345           0.001773         -0.005658
ind_ctop_fin_ult1               0.063945           0.096482          0.062751
ind_ctpp_fin_ult1               0.167455           0.092875          0.040715
ind_deco_fin_ult1              -0.001243           0.001262         -0.001133
ind_deme_fin_ult1               0.015964           0.017899          0.007231
ind_dela_fin_ult1               0.106465           0.081922          0.006990
ind_ecue_fin_ult1               0.255851           0.151302          0.010375
ind_fond_fin_ult1               0.100844           0.180495          0.018586
ind_hip_fin_ult1                0.119688           0.044911          0.006034
ind_plan_fin_ult1               0.111003           0.116617          0.022171
ind_pres_fin_ult1               0.012337           0.008834         -0.000266
ind_reca_fin_ult1               0.271887           0.114666          0.053622
ind_tjcr_fin_ult1               1.000000           0.140623          0.033698
ind_valo_fin_ult1               0.140623           1.000000          0.033348
ind_viv_fin_ult1                0.033698           0.033348          1.000000
ind_nomina_ult1                 0.357244           0.114254          0.030367
ind_nom_pens_ult1               0.371088           0.123770          0.028748
ind_recibo_ult1                 0.374996           0.144874          0.035826
month_of_transaction           -0.009059          -0.010183         -0.003854

                       ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1  \
ncodpers                     -0.120375          -0.132237        -0.144545
ind_nuevo                    -0.037150          -0.039654        -0.053388
indrel                       -0.009296          -0.009693        -0.012026
tipodom                            NaN                NaN              NaN
cod_prov                      0.010348           0.011308         0.014928
ind_actividad_cliente         0.261360           0.272928         0.413127
renta                         0.012820           0.015073         0.019040
ind_ahor_fin_ult1             0.000231           0.000081         0.003212
ind_aval_fin_ult1             0.012098           0.011545         0.011581
ind_cco_fin_ult1             -0.258136          -0.271283        -0.070333
ind_cder_fin_ult1             0.006669           0.007212         0.009173
ind_cno_fin_ult1              0.758163           0.790274         0.536154
ind_ctju_fin_ult1            -0.023370          -0.023320        -0.037620
ind_ctma_fin_ult1             0.021904           0.021862         0.028966
ind_ctop_fin_ult1             0.027496           0.028515         0.043004
ind_ctpp_fin_ult1             0.172857           0.180179         0.201930
ind_deco_fin_ult1            -0.001124          -0.001402        -0.004813
ind_deme_fin_ult1             0.016022           0.016410         0.014843
ind_dela_fin_ult1             0.078135           0.090529         0.093640
ind_ecue_fin_ult1             0.263577           0.282519         0.296245
ind_fond_fin_ult1             0.073341           0.082801         0.093573
ind_hip_fin_ult1              0.165072           0.162318         0.170035
ind_plan_fin_ult1             0.099428           0.100104         0.104784
ind_pres_fin_ult1             0.005214           0.005526         0.004693
ind_reca_fin_ult1             0.278239           0.295058         0.347317
ind_tjcr_fin_ult1             0.357244           0.371088         0.374996
ind_valo_fin_ult1             0.114254           0.123770         0.144874
ind_viv_fin_ult1              0.030367           0.028748         0.035826
ind_nomina_ult1               1.000000           0.957283         0.471723
ind_nom_pens_ult1             0.957283           1.000000         0.491506
ind_recibo_ult1               0.471723           0.491506         1.000000
month_of_transaction         -0.007579          -0.006431        -0.020447

                       month_of_transaction
ncodpers                           0.012387
ind_nuevo                          0.076927
indrel                             0.007427
tipodom                                 NaN
cod_prov                          -0.002032
ind_actividad_cliente             -0.039931
renta                             -0.000159
ind_ahor_fin_ult1                 -0.000711
ind_aval_fin_ult1                 -0.000271
ind_cco_fin_ult1                  -0.060813
ind_cder_fin_ult1                 -0.001004
ind_cno_fin_ult1                  -0.015829
ind_ctju_fin_ult1                 -0.006101
ind_ctma_fin_ult1                 -0.008894
ind_ctop_fin_ult1                 -0.022925
ind_ctpp_fin_ult1                 -0.012972
ind_deco_fin_ult1                  0.003297
ind_deme_fin_ult1                 -0.002796
ind_dela_fin_ult1                 -0.011081
ind_ecue_fin_ult1                 -0.017374
ind_fond_fin_ult1                 -0.006091
ind_hip_fin_ult1                  -0.005125
ind_plan_fin_ult1                 -0.005811
ind_pres_fin_ult1                 -0.003134
ind_reca_fin_ult1                 -0.008486
ind_tjcr_fin_ult1                 -0.009059
ind_valo_fin_ult1                 -0.010183
ind_viv_fin_ult1                  -0.003854
ind_nomina_ult1                   -0.007579
ind_nom_pens_ult1                 -0.006431
ind_recibo_ult1                   -0.020447
month_of_transaction               1.000000

[32 rows x 32 columns]

Zu große Abweichung:

In [15]:
meanOfRenta = np.mean(db.renta)
medianOfRenta = np.nanmedian(db.renta)
print(meanOfRenta, medianOfRenta)

134252.63614951386 101848.77

Ich habe vermutet, dass die Höche der Einkommen ziemlich gut durch
    1. Geschlecht
    2. Arbeitsverhältnisse
    3. Region
erklärt werden können, prüfen:

In [8]:
renta_median_H = db.loc[db.sexo == "H","renta"].median()
renta_mean_H = db.loc[db.sexo == "H","renta"].mean()
renta_median_V = db.loc[db.sexo == "V","renta"].median()
renta_mean_V = db.loc[db.sexo == "V","renta"].mean()
print(str(renta_median_H))
print(str(renta_mean_H))
print(str(renta_median_V))
print(str(renta_mean_V))

99465.03
132330.99848332693
103806.15
135839.65725299172

In [9]:
db.ind_empleado.unique()

array(['N', 'A', 'F', 'B', 'S'], dtype=object)

In [10]:
renta_median_N = db.loc[db.ind_empleado == "N","renta"].median()
renta_mean_N = db.loc[db.ind_empleado == "N","renta"].mean()
renta_median_B = db.loc[db.ind_empleado == "B","renta"].median()
renta_mean_B = db.loc[db.ind_empleado == "B","renta"].mean()
renta_median_F = db.loc[db.ind_empleado == "F","renta"].median()
renta_mean_F = db.loc[db.ind_empleado == "F","renta"].mean()
renta_median_S = db.loc[db.ind_empleado == "S","renta"].median()
renta_mean_S = db.loc[db.ind_empleado == "S","renta"].mean()
print(str(renta_median_N))
print(str(renta_mean_N))
print(str(renta_median_B))
print(str(renta_mean_B))
print(str(renta_median_F))
print(str(renta_mean_F))
print(str(renta_median_S))
print(str(renta_mean_S))

101810.28
134218.9170161395
171413.91
204292.14416017485
149037.51
167212.1001293664
87798.24
87798.24

In [8]:
set = db.nomprov.unique()

In [20]:
for i in set:
    print(str(i) + " : " + str(db.loc[db.nomprov == i,"renta"].median()))
    print(str(i) + " : " + str(db.loc[db.nomprov == i,"renta"].mean()))

MALAGA : 95102.61
MALAGA : 121216.57669297257
CIUDAD REAL : 62193.45
CIUDAD REAL : 69888.62509656424
ZARAGOZA : 99950.28
ZARAGOZA : 110587.50481891104
TOLEDO : 68867.76
TOLEDO : 80624.57113916425
LEON : 80901.54000000001
LEON : 93383.86710125268
GIPUZKOA : 80599.14
GIPUZKOA : 141895.85610389616
CACERES : 67799.49
CACERES : 75365.83711824188
GIRONA : 108963.21
GIRONA : 144281.0302492002
ZAMORA : 74692.70999999999
ZAMORA : 83322.11130582851
BARCELONA : 131214.48
BARCELONA : 164679.42156618612
SALAMANCA : 89831.25
SALAMANCA : 105810.76795913748
BURGOS : 89372.34
BURGOS : 97880.72286751622
HUESCA : 73467.81
HUESCA : 89228.51724407451
NAVARRA : 86649.27
NAVARRA : 102476.17862068968
AVILA : 68561.28
AVILA : 76853.64482514081
SEGOVIA : 89311.56
SEGOVIA : 98463.74209361993
LUGO : 64390.53
LUGO : 76686.76213098167
LERIDA : 64818.45
LERIDA : 81212.51591857828
MADRID : 139070.97
MADRID : 178898.88464661813
ALICANTE : 67526.28
ALICANTE : 87357.72662546462
SORIA : 78810.9
SORIA : 88064.10784519262
SEVILLA : 92710.35
SEVILLA : 117415.72883484645
CANTABRIA : 95517.6
CANTABRIA : 121201.52785370596
BALEARS, ILLES : 123573.51
BALEARS, ILLES : 171996.71163087976
VALLADOLID : 92880.39
VALLADOLID : 101652.85873382125
PONTEVEDRA : 97829.1
PONTEVEDRA : 113531.06539483387
VALENCIA : 72988.98
VALENCIA : 89800.1291898742
TERUEL : 76467.56999999999
TERUEL : 87655.77615490752
CORUÑA, A : 97689.3
CORUÑA, A : 112801.7070775911
OURENSE : 79069.62
OURENSE : 83307.51102336959
JAEN : 67886.4
JAEN : 77143.03574486886
CUENCA : 67201.41
CUENCA : 69963.8229314198
BIZKAIA : 99978.78
BIZKAIA : 110388.4768211921
CASTELLON : 66630.29999999999
CASTELLON : 79182.4097239264
RIOJA, LA : 89936.28
RIOJA, LA : 99657.42055455397
ALBACETE : 78657.29999999999
ALBACETE : 83064.84828775376
BADAJOZ : 62330.97
BADAJOZ : 72178.66003131428
MURCIA : 67813.86
MURCIA : 79085.61331117903
CADIZ : 79016.37
CADIZ : 98639.65170527823
ALMERIA : 73390.65
ALMERIA : 85400.89025058944
GUADALAJARA : 92724.66
GUADALAJARA : 95555.56590101472
PALENCIA : 86593.08
PALENCIA : 92760.75743886213
PALMAS, LAS : 80948.61
PALMAS, LAS : 100331.89659031204
CORDOBA : 69106.89
CORDOBA : 85610.54955507732
HUELVA : 68994.29999999999
HUELVA : 76679.9780568713
GRANADA : 82447.02
GRANADA : 96550.39570081104
ASTURIAS : 87199.38
ASTURIAS : 101404.4798646703
SANTA CRUZ DE TENERIFE : 82729.23
SANTA CRUZ DE TENERIFE : 102752.47457303583
MELILLA : 117408.66
MELILLA : 149910.1598438108
TARRAGONA : 88283.45999999998
TARRAGONA : 104581.15249642164
ALAVA : 96967.65
ALAVA : 111098.14800000002
CEUTA : 128699.58
CEUTA : 199074.73526935384

In [9]:
for i in set:
    db.loc[(db.nomprov == str(i)) & (db.renta.isnull()),"renta"] = db.loc[db.nomprov == str(i),"renta"].median()
db.renta.isnull().sum()

0

In [23]:
pd.value_counts(db["canal_entrada"])

KHE    4050971
KAT    3242337
KFC    3089469
KHQ     591039
KFA     399290
KHK     241023
KHM     183859
KHN     116588
KHD     116000
KAS      85364
RED      74941
KAG      73516
KAY      66959
KAA      65229
KAB      62064
KAE      50250
KCC      48017
KBZ      45555
KHL      45102
KFD      43691
KAI      37597
KEY      35095
KAW      34020
KAZ      32118
KAR      31927
KAF      30317
007      28750
013      27095
KCI      25708
KAH      24705
        ...
004        210
KCQ        198
KDN        197
KCR        196
KDH        191
KCO        179
KEE        175
KCP        158
K00        152
KBE        147
KEQ        146
KFB        107
KAV        107
KCT        105
KBX        102
KBP         85
KEM         68
KCX         67
KFV         67
KHA         51
KBN         44
KGU         28
KGC         28
KGN         17
KDI         17
KDB         17
KDL         11
025         11
KHS          5
KHR          1
Name: canal_entrada, Length: 162, dtype: int64

In [10]:
db.loc[db.canal_entrada.isnull(), "canal_entrada"] = "KHE"

In [11]:
db["sexo"] = db["sexo"].astype(str)
db.loc[db.sexo == "nan", "sexo"].count()

70

In [16]:
pd.value_counts(db["sexo"])

V      7382171
H      6171260
nan         70
Name: sexo, dtype: int64

In [12]:
db.loc[db.sexo == "nan", "sexo"] = "V"
db.loc[db.sexo == "nan", "sexo"].count()

0

In [30]:
db.isnull().any()

fecha_dato               False
ncodpers                 False
ind_empleado             False
pais_residencia          False
sexo                     False
age                      False
fecha_alta               False
ind_nuevo                False
antiguedad               False
indrel                   False
ult_fec_cli_1t            True
indrel_1mes               True
tiprel_1mes               True
indresi                  False
indext                   False
conyuemp                  True
canal_entrada            False
indfall                  False
tipodom                  False
cod_prov                 False
nomprov                  False
ind_actividad_cliente    False
renta                    False
segmento                  True
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1          False
ind_nom_pens_ult1        False
ind_recibo_ult1          False
month_of_transaction     False
dtype: bool

In [13]:
db["ind_empleado"] = db["ind_empleado"].astype(str)
db["pais_residencia"] = db["pais_residencia"].astype(str)
db["sexo"] = db["sexo"].astype("category")
db["indrel_1mes"] = db["indrel_1mes"].astype(str)
db["indresi"] = db["indresi"].astype(str)
db["indext"] = db["indext"].astype(str)
db["canal_entrada"] = db["canal_entrada"].astype(str)
db["indfall"] = db["indfall"].astype(str)
db["nomprov"] = db["nomprov"].astype(str)
db["segmento"] = db["segmento"].astype(str)
db["age"] = pd.to_numeric(db["age"], errors="coerce")
db["ult_fec_cli_1t"] = db["ult_fec_cli_1t"].astype(str)
db["conyuemp"] = pd.to_numeric(db["conyuemp"], errors="coerce")
db["ind_nomina_ult1"] = pd.to_numeric(db["ind_nomina_ult1"], errors="coerce")
db["ind_nom_pens_ult1"] = pd.to_numeric(db["ind_nom_pens_ult1"], errors="coerce")
db["renta"] = pd.to_numeric(db["renta"], errors="coerce")
db["fecha_alta"]=pd.to_datetime(db["fecha_alta"], format = "%Y-%m-%d")

Prüfen wir nochmal: (ich habe nur wichtige gelassen)

In [19]:
db.loc[db.indrel_1mes == "nan", ["indrel_1mes"]].count()

indrel_1mes    122038
dtype: int64

In [20]:
db.loc[db.segmento == "nan", ["segmento"]].count()

segmento    161319
dtype: int64

D.h. Es bleiben noch: indrel_1mes, segmento, tiprel_1mes, conyuemp, ult_fec_cli_1t

In [21]:
pd.value_counts(db["tiprel_1mes"])

I    7273215
A    6152751
P       4624
R        869
N          4
Name: tiprel_1mes, dtype: int64

In [22]:
db.tiprel_1mes.isnull().sum()

122038

In [14]:
db.loc[db.tiprel_1mes.isnull(), "tiprel_1mes"] = "I"
db.tiprel_1mes.isnull().any()

False

In [24]:
pd.value_counts(db["indrel_1mes"])

1.0    11235776
1       2188874
nan      122038
3.0        3183
3          1135
P           873
2.0         833
2           483
4.0         236
4            70
Name: indrel_1mes, dtype: int64

P - Potentional wird jetzt 5 (einheitlicher Datentyp)

In [15]:
db.loc[db.indrel_1mes == 1.0, ["indrel_1mes"]] = 1
db.loc[db.indrel_1mes == 3.0, ["indrel_1mes"]] = 3
db.loc[db.indrel_1mes == "P", ["indrel_1mes"]] = 5
db.loc[db.indrel_1mes == 2.0, ["indrel_1mes"]] = 2
db.loc[db.indrel_1mes == 4.0, ["indrel_1mes"]] = 4
db.loc[db.indrel_1mes == "nan", ["indrel_1mes"]] = 1
db["indrel_1mes"] = pd.to_numeric(db["indrel_1mes"], errors="coerce")
pd.value_counts(db["indrel_1mes"])

1.0    13546688
3.0        4318
2.0        1316
5.0         873
4.0         306
Name: indrel_1mes, dtype: int64

In [26]:
pd.value_counts(db["segmento"])

02 - PARTICULARES     7902975
03 - UNIVERSITARIO    4930811
01 - TOP               558396
nan                    161319
Name: segmento, dtype: int64

In [16]:
db.loc[db.segmento == "nan", ["segmento"]] = "02 - PARTICULARES"
db.loc[db.segmento.isnull(), ["segmento"]] = "02 - PARTICULARES"

In [41]:
pd.value_counts(db["segmento"])

02 - PARTICULARES     8064294
03 - UNIVERSITARIO    4930811
01 - TOP               558396
Name: segmento, dtype: int64

In [17]:
db.loc[db.ult_fec_cli_1t == "nan", ["ult_fec_cli_1t"]] = "0"

Prüfen wo noch nan-Values oder Fehler vorhanden sind: (Antwort: Fehler bei antiquedad)

In [42]:
for i in db.columns.values.tolist():
    print(str(i) + ": " + str(pd.value_counts(db[str(i)])))

fecha_dato: 2016-05-28    927461
2016-04-28    924284
2016-03-28    921088
2016-02-28    916917
2016-01-28    912292
2015-12-28    908044
2015-11-28    902130
2015-10-28    888275
2015-09-28    861464
2015-08-28    839224
2015-07-28    825842
2015-06-28    626567
2015-05-28    624659
2015-04-28    622360
2015-03-28    620404
2015-02-28    617724
2015-01-28    614766
Name: fecha_dato, dtype: int64
ncodpers: 32752      17
1134383    17
592934     17
576542     17
560150     17
543758     17
551946     17
527366     17
1347479    17
1314695    17
1298303    17
1306491    17
1281911    17
1290099    17
1273707    17
1240923    17
1216343    17
1199951    17
1183559    17
1191747    17
1167167    17
650298     17
642110     17
683082     17
945354     17
1043706    17
1027314    17
986342     17
994530     17
969950     17
           ..
1490796     1
1551281     1
1553389     1
936625      1
1549443     1
603198      1
1551998     1
1413214     1
1551001     1
1553384     1
711905      1
1498170     1
1551461     1
1534894     1
1552644     1
1544448     1
1550473     1
861941      1
1546213     1
1545199     1
1553387     1
1553477     1
1389589     1
1504195     1
1457026     1
1440281     1
1428520     1
1553677     1
1551460     1
1520727     1
Name: ncodpers, Length: 945661, dtype: int64
ind_empleado: N    13544937
B        3549
F        2523
A        2475
S          17
Name: ind_empleado, dtype: int64
pais_residencia: ES    13553401
IT          33
PY          33
BO          17
DE          17
Name: pais_residencia, dtype: int64
sexo: V    7382241
H    6171260
Name: sexo, dtype: int64
age: 23     779878
22     736293
24     734617
21     675966
25     471668
20     422844
26     347138
43     321788
44     320484
42     316902
45     312256
41     306352
46     296864
40     285134
47     284189
27     281213
48     269265
39     258211
49     248514
28     239451
50     234414
38     229756
51     221628
37     210647
52     210144
29     205026
53     200986
36     196820
30     185216
35     182307
        ...
98       4622
7        3792
6        3673
99       3617
100      3050
5        3004
101      2654
102      2333
4        2207
103      2003
3        1520
104      1350
105      1273
106       895
2         733
107       594
108       456
109       265
110       261
111       252
112       188
113       117
115        82
116        63
114        22
117        14
163         8
127         8
126         3
164         3
Name: age, Length: 120, dtype: int64
fecha_alta: 2014-07-28    57364
2014-10-03    54286
2014-08-04    45729
2013-10-14    40804
2013-08-03    33414
2012-08-06    26206
2014-07-21    26027
2012-08-03    25408
2012-08-02    25003
2013-10-11    24751
2013-08-10    23766
2012-08-01    22935
2014-09-17    22810
2014-08-06    22756
2014-09-24    22696
2014-07-30    22695
2012-08-09    22433
2013-07-22    22309
2012-08-07    22052
2012-07-24    21840
2014-09-23    21422
2012-07-30    20591
2013-10-10    20241
2013-10-28    20089
2013-10-09    19954
2012-10-01    19920
2012-07-31    19902
2012-08-10    19659
2015-07-25    19638
2012-07-19    19610
              ...
2005-07-31       11
2012-06-09       11
2014-06-29       11
2012-08-26       11
2013-11-01       11
2014-09-07       11
2012-08-11       11
2013-09-07       11
2012-07-21       11
2011-11-20       11
2011-12-24       11
2011-06-25       11
2011-11-27       11
2011-09-11       11
2010-07-17       11
2012-06-02       11
2004-11-01       11
2014-12-25       11
2009-09-13       11
2014-04-27       11
2012-04-29       11
2013-10-12       11
2013-05-11       11
2011-05-29       11
2013-06-15       11
2014-05-11       11
2015-05-31        9
2014-05-01        7
2010-07-04        4
2009-12-25        4
Name: fecha_alta, Length: 6756, dtype: int64
ind_nuevo: 0.0    12742539
1.0      810962
Name: ind_nuevo, dtype: int64
antiguedad: 0          134318
1          130666
12         130560
3          125770
2          125115
5          122221
     21    118532
4          117478
14         112927
     12    112523
6          111305
17         109732
16         109407
7          109129
15         108807
13         107457
10         104415
24         104399
18         104249
26         103338
     10    101731
25          99001
8           98148
27          96892
28          96542
23          96242
21          96212
19          95959
     33     95088
38          93826
            ...
    238      2936
    215      2880
    228      2858
    203      2462
    236      2360
248          2257
    230      2240
    241      1962
    226      1961
      1      1874
    233      1850
    240      1836
249          1761
250          1505
    227      1338
    242      1142
251          1065
    239       842
    243       701
252           673
    246       507
    244       450
253           414
    245       360
254           261
255           179
      0       124
256           102
-999999        26
-999999        12
Name: antiguedad, Length: 506, dtype: int64
indrel: 1.0     13528746
99.0       24755
Name: indrel, dtype: int64
ult_fec_cli_1t: nan           13528746
2015-12-24         763
2015-12-28         521
2015-07-09         436
2015-07-06         405
2015-07-01         401
2015-07-21         391
2015-07-07         340
2015-07-17         330
2015-07-10         320
2015-07-28         304
2015-07-24         299
2015-07-20         295
2015-07-22         275
2015-07-15         273
2015-07-03         262
2015-07-29         255
2015-07-13         229
2015-07-30         224
2015-07-23         206
2015-12-21         206
2015-07-27         203
2015-07-14         196
2015-07-08         175
2015-12-17         172
2016-01-19         169
2016-01-05         167
2015-07-02         165
2015-12-16         157
2015-07-16         147
                ...
2016-02-03          64
2016-02-18          64
2015-12-07          64
2016-04-20          63
2015-08-25          63
2015-08-12          62
2016-04-22          62
2016-05-05          61
2015-11-26          61
2015-08-21          61
2015-09-03          61
2015-08-24          61
2015-08-18          59
2016-03-03          59
2015-08-20          59
2015-08-07          59
2016-04-07          58
2015-09-21          57
2016-04-14          57
2016-05-13          55
2016-03-07          55
2015-11-06          54
2015-08-14          51
2016-03-24          49
2016-03-23          46
2016-04-28          44
2015-08-19          44
2015-08-06          41
2016-01-04          34
2015-12-23          27
Name: ult_fec_cli_1t, Length: 224, dtype: int64
indrel_1mes: 1.0    13546688
3.0        4318
2.0        1316
5.0         873
4.0         306
Name: indrel_1mes, dtype: int64
tiprel_1mes: I    7395253
A    6152751
P       4624
R        869
N          4
Name: tiprel_1mes, dtype: int64
indresi: S    13553399
N         102
Name: indresi, dtype: int64
indext: N    12961411
S      592090
Name: indext, dtype: int64
conyuemp: Series([], Name: conyuemp, dtype: int64)
canal_entrada: KHE    4209061
KAT    3242337
KFC    3089469
KHQ     591039
KFA     399290
KHK     241023
KHM     183859
KHN     116588
KHD     116000
KAS      85364
RED      74941
KAG      73516
KAY      66959
KAA      65229
KAB      62064
KAE      50250
KCC      48017
KBZ      45555
KHL      45102
KFD      43691
KAI      37597
KEY      35095
KAW      34020
KAZ      32118
KAR      31927
KAF      30317
007      28750
013      27095
KCI      25708
KAH      24705
        ...
004        210
KCQ        198
KDN        197
KCR        196
KDH        191
KCO        179
KEE        175
KCP        158
K00        152
KBE        147
KEQ        146
KFB        107
KAV        107
KCT        105
KBX        102
KBP         85
KEM         68
KCX         67
KFV         67
KHA         51
KBN         44
KGU         28
KGC         28
KGN         17
KDI         17
KDB         17
KDL         11
025         11
KHS          5
KHR          1
Name: canal_entrada, Length: 162, dtype: int64
indfall: N    13518928
S       34573
Name: indfall, dtype: int64
tipodom: 1.0    13553501
Name: tipodom, dtype: int64
cod_prov: 28.0    4409491
8.0     1275204
46.0     682298
41.0     605148
15.0     429321
30.0     396752
29.0     367018
50.0     342542
3.0      313395
11.0     294682
36.0     280024
33.0     265745
47.0     238257
35.0     235695
6.0      192995
48.0     185888
45.0     183065
18.0     178559
37.0     164237
39.0     155698
14.0     144678
10.0     129912
7.0      124933
21.0     122281
13.0     119389
2.0      114128
12.0     104294
43.0     100113
9.0       97186
17.0      90537
31.0      88618
26.0      85201
27.0      84962
32.0      84009
24.0      83000
25.0      79057
20.0      71566
38.0      70968
19.0      64618
23.0      64362
4.0       60291
16.0      57310
49.0      50927
34.0      49281
40.0      42341
22.0      40181
5.0       38783
1.0       37703
44.0      22525
42.0      17660
52.0       9455
51.0       7218
Name: cod_prov, dtype: int64

nomprov: MADRID                    4409491
BARCELONA                 1275204
VALENCIA                   682298
SEVILLA                    605148
CORUÑA, A                  429321
MURCIA                     396752
MALAGA                     367018
ZARAGOZA                   342542
ALICANTE                   313395
CADIZ                      294682
PONTEVEDRA                 280024
ASTURIAS                   265745
VALLADOLID                 238257
PALMAS, LAS                235695
BADAJOZ                    192995
BIZKAIA                    185888
TOLEDO                     183065
GRANADA                    178559
SALAMANCA                  164237
CANTABRIA                  155698
CORDOBA                    144678
CACERES                    129912
BALEARS, ILLES             124933
HUELVA                     122281
CIUDAD REAL                119389
ALBACETE                   114128
CASTELLON                  104294
TARRAGONA                  100113
BURGOS                      97186
GIRONA                      90537
NAVARRA                     88618
RIOJA, LA                   85201
LUGO                        84962
OURENSE                     84009
LEON                        83000
LERIDA                      79057
GIPUZKOA                    71566
SANTA CRUZ DE TENERIFE      70968
GUADALAJARA                 64618
JAEN                        64362
ALMERIA                     60291
CUENCA                      57310
ZAMORA                      50927
PALENCIA                    49281
SEGOVIA                     42341
HUESCA                      40181
AVILA                       38783
ALAVA                       37703
TERUEL                      22525
SORIA                       17660
MELILLA                      9455
CEUTA                        7218
Name: nomprov, dtype: int64
ind_actividad_cliente: 0.0    7355099
1.0    6198402
Name: ind_actividad_cliente, dtype: int64
renta: 139070.97    487652
131214.48    201108
99978.78     185764
72988.98     128809
97689.30     116692
67813.86     109284
92710.35      89993
86649.27      88536
97829.10      81136
95102.61      80037
67526.28      76784
80599.14      71506
87199.38      62777
79016.37      62724
80948.61      58868
123573.51     55097
99950.28      50229
95517.60      42958
62330.97      40378
82447.02      39436
96967.65      37690
68867.76      33665
89831.25      32303
66630.30      29638
88283.46      29521
69106.89      28590
64390.53      28315
67799.49      28071
79069.62      26305
92880.39      25224
              ...
122463.33         1
59427.63          1
39686.61          1
218279.94         1
92498.52          1
82349.55          1
156827.52         1
179561.43         1
74075.85          1
127111.23         1
50939.22          1
94128.15          1
37591.32          1
97200.18          1
238224.03         1
167276.64         1
125135.46         1
70889.04          1
50323.47          1
72121.44          1
108875.73         1
55041.57          1
147906.54         1
35238.12          1
69650.88          1
142336.98         1
37292.10          1
136704.45         1
106552.89         1
31253.64          1
Name: renta, Length: 520994, dtype: int64
segmento: 02 - PARTICULARES     8064294
03 - UNIVERSITARIO    4930811
01 - TOP               558396
Name: segmento, dtype: int64
ind_ahor_fin_ult1: 0    13552105
1        1396
Name: ind_ahor_fin_ult1, dtype: int64
ind_aval_fin_ult1: 0    13553202
1         299
Name: ind_aval_fin_ult1, dtype: int64
ind_cco_fin_ult1: 1    8889315
0    4664186
Name: ind_cco_fin_ult1, dtype: int64
ind_cder_fin_ult1: 0    13548146
1        5355
Name: ind_cder_fin_ult1, dtype: int64
ind_cno_fin_ult1: 0    12451627
1     1101874
Name: ind_cno_fin_ult1, dtype: int64
ind_ctju_fin_ult1: 0    13424470
1      129031
Name: ind_ctju_fin_ult1, dtype: int64
ind_ctma_fin_ult1: 0    13421541
1      131960
Name: ind_ctma_fin_ult1, dtype: int64
ind_ctop_fin_ult1: 0    11809048
1     1744453
Name: ind_ctop_fin_ult1, dtype: int64
ind_ctpp_fin_ult1: 0    12964926
1      588575
Name: ind_ctpp_fin_ult1, dtype: int64
ind_deco_fin_ult1: 0    13529747
1       23754
Name: ind_deco_fin_ult1, dtype: int64
ind_deme_fin_ult1: 0    13531177
1       22324
Name: ind_deme_fin_ult1, dtype: int64
ind_dela_fin_ult1: 0    12969805
1      583696
Name: ind_dela_fin_ult1, dtype: int64
ind_ecue_fin_ult1: 0    12429660
1     1123841
Name: ind_ecue_fin_ult1, dtype: int64
ind_fond_fin_ult1: 0    13303573
1      249928
Name: ind_fond_fin_ult1, dtype: int64
ind_hip_fin_ult1: 0    13473537
1       79964
Name: ind_hip_fin_ult1, dtype: int64
ind_plan_fin_ult1: 0    13429164
1      124337
Name: ind_plan_fin_ult1, dtype: int64
ind_pres_fin_ult1: 0    13519046
1       34455
Name: ind_pres_fin_ult1, dtype: int64
ind_reca_fin_ult1: 0    12848612
1      704889
Name: ind_reca_fin_ult1, dtype: int64
ind_tjcr_fin_ult1: 0    12950246
1      603255
Name: ind_tjcr_fin_ult1, dtype: int64
ind_valo_fin_ult1: 0    13208664
1      344837
Name: ind_valo_fin_ult1, dtype: int64
ind_viv_fin_ult1: 0    13501085
1       52416
Name: ind_viv_fin_ult1, dtype: int64
ind_nomina_ult1: 0.0    12808173
1.0      745328
Name: ind_nomina_ult1, dtype: int64
ind_nom_pens_ult1: 0.0    12744232
1.0      809269
Name: ind_nom_pens_ult1, dtype: int64
ind_recibo_ult1: 0    11813435
1     1740066
Name: ind_recibo_ult1, dtype: int64
month_of_transaction: 5     1552120
4     1546644
3     1541492
2     1534641
1     1527058
12     908044
11     902130
10     888275
9      861464
8      839224
7      825842
6      626567
Name: month_of_transaction, dtype: int64

In [18]:
db.loc[db.antiguedad == -999999, ["antiguedad"]].count()

antiguedad    26
dtype: int64

In [19]:
db.loc[db.antiguedad == -999999, ["antiguedad"]] = 0

In [45]:
db.loc[db.antiguedad == "-999999", ["antiguedad"]].count()

antiguedad    12
dtype: int64

In [20]:
db.loc[db.antiguedad == "-999999", ["antiguedad"]] = 0

In [21]:
db.loc[db.ult_fec_cli_1t.isnull(), ["ult_fec_cli_1t"]] = "0"
db.ult_fec_cli_1t.isnull().sum()

0

In [22]:
print(pd.value_counts(db["conyuemp"]))
del db["conyuemp"]
print("count of rows -> " + str(db.shape))

Series([], Name: conyuemp, dtype: int64)
count of rows -> (13553501, 48)

In [23]:
db.isnull().any()

fecha_dato               False
ncodpers                 False
ind_empleado             False
pais_residencia          False
sexo                     False
age                      False
fecha_alta               False
ind_nuevo                False
antiguedad               False
indrel                   False
ult_fec_cli_1t           False
indrel_1mes              False
tiprel_1mes              False
indresi                  False
indext                   False
canal_entrada            False
indfall                  False
tipodom                  False
cod_prov                 False
nomprov                  False
ind_actividad_cliente    False
renta                    False
segmento                 False
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1          False
ind_nom_pens_ult1        False
ind_recibo_ult1          False
month_of_transaction     False
dtype: bool

In [24]:
db["ind_empleado"] = db["ind_empleado"].astype(str)
db["pais_residencia"] = db["pais_residencia"].astype(str)
db["sexo"] = db["sexo"].astype("category")
db["indrel_1mes"] = db["indrel_1mes"].astype(str)
db["indresi"] = db["indresi"].astype(str)
db["indext"] = db["indext"].astype(str)
db["canal_entrada"] = db["canal_entrada"].astype(str)
db["indfall"] = db["indfall"].astype(str)
db["nomprov"] = db["nomprov"].astype(str)
db["segmento"] = db["segmento"].astype(str)
db["age"] = pd.to_numeric(db["age"], errors="coerce")
db["ult_fec_cli_1t"] = db["ult_fec_cli_1t"].astype(str)
db["ind_nomina_ult1"] = pd.to_numeric(db["ind_nomina_ult1"], errors="coerce")
db["ind_nom_pens_ult1"] = pd.to_numeric(db["ind_nom_pens_ult1"], errors="coerce")
db["renta"] = pd.to_numeric(db["renta"], errors="coerce")
db["fecha_alta"]=pd.to_datetime(db["fecha_alta"], format = "%Y-%m-%d")

In [25]:
list_cat = ["ind_empleado", "pais_residencia", "sexo", "indrel_1mes", "tiprel_1mes", "indresi", "indext", "canal_entrada", "indfall", "nomprov", "segmento"]

In [26]:

db_dumm = pd.get_dummies(db, columns=list_cat)

In [27]:
db_dumm.head()

,fecha_dato,ncodpers,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,tipodom,cod_prov,...,nomprov_TARRAGONA,nomprov_TERUEL,nomprov_TOLEDO,nomprov_VALENCIA,nomprov_VALLADOLID,nomprov_ZAMORA,nomprov_ZARAGOZA,segmento_01 - TOP,segmento_02 - PARTICULARES,segmento_03 - UNIVERSITARIO
0,2015-01-28,1375586,35,2015-01-12,0.0,6,1.0,0,1.0,29.0,...,0,0,0,0,0,0,0,0,1,0
1,2015-01-28,1050611,23,2012-08-10,0.0,35,1.0,0,1.0,13.0,...,0,0,0,0,0,0,0,0,0,1
2,2015-01-28,1050612,23,2012-08-10,0.0,35,1.0,0,1.0,13.0,...,0,0,0,0,0,0,0,0,0,1
3,2015-01-28,1050613,22,2012-08-10,0.0,35,1.0,0,1.0,50.0,...,0,0,0,0,0,0,1,0,0,1
4,2015-01-28,1050614,23,2012-08-10,0.0,35,1.0,0,1.0,50.0,...,0,0,0,0,0,0,1,0,0,1

In [28]:
print("count of rows -> " + str(db_dumm.shape))

count of rows -> (13553501, 282)

Und speichern als CSV:

In [29]:
db_dumm.to_csv("new_data_wiinf.csv", sep='\t', encoding='utf-8')

Ausgangszustand:
- 13647309 Datensätze;
- 48 Spalten, dafon 23 Attribute (inkl. Kundennummer und Transaktionsdatum)

Nach der Vorbereitung:
- 13553501 Datensätze --> Verlust 93808 Datensätze
- 47 Spalten --> Verlust 1 Attribut

Nach der Dummykodierung:
- 282 Spalten